################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExcelLite/ExcelLite/obj
/ExcelLite/ExcelLite/bin
/ExcelLite/.vs/
bin/
obj/
